@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
    display: none !important; 
}

/* Hide browser native password reveal/clear icons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/* Hide datalist dropdown arrow */
input::-webkit-calendar-picker-indicator {
    display: none !important;
}
